Source: linuxmuster-cachingserver-satellite
Section: admin
Priority: optional
Maintainer: Lukas Spitznagel <lukas.spitznagel@netzint.de>
Build-Depends: debhelper (>= 4.0.0), fakeroot

Package: linuxmuster-cachingserver-satellite
Architecture: all
Depends: linuxmuster-cachingserver-linbo7, isc-dhcp-server, python3-pip, cron
Homepage: www.netzint.de
Description: Linuxmuster Cachingserver for Satellite-Server
